/* CSS DEBUGGING TOOL

* {
  outline: solid red 1px !important;
} 

*/

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #d7c9ce63;
}

::-webkit-scrollbar-thumb {
  background: #2a93d4a6;
}

::-webkit-scrollbar-thumb:hover {
  background: #3d5a80;
}
